<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include("partials/head.ejs") %>
</head>
  <body>
    <%- include("partials/header.ejs") %>
    <h1>Login Page</h1>
    
    <form action="/login" method="POST">
        <div>
            <label for="username">Email/Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <button type="submit">Login</button>
    </form>
    
    <p>Test Accounts:</p>
    <ul>
        <li>Username: jimmy123 | Password: jimmy123!</li>
        <li>Username: sandra123 | Password: sandra123!</li>
    </ul>
</body>
</html>